{% extends 'home/main.html' %}
{% block body %}
<script>
    location.href = "#contact"
    document.getElementById('hero').style.display = 'None'
</script>
<div>
    <div class="mt-4 container">
        <div class="p-2 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12 mt-4 p-4">
                    <small
                        class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Get
                        in touch</small>
                    <h1 class="display-5 mb-0">Contact Us For Any Queries!</h1>
                </div>
                <div class="col-md-6 col-lg-7">
                    <form method="post">
                        {% csrf_token %}
                        {{form.name}}
                        {{form.phone_number_or_email}}
                        {{form.subject}}
                        {{form.message}}
                        <button class="w-100 btn btn-primary form-control p-3 border-primary bg-primary rounded-pill"
                            type="submit">Submit Now</button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-5" id="unknownblock"> 
                    <div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                            <img src="static/dashboard/assets/img/icons/brands/logo2.png" alt="Prakash Ganga Capitals">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        // Function to check device width and hide element if smaller than 1000px
        function checkDeviceWidth() {
            var element = document.getElementById('unknownblock'); // Replace 'yourElementId' with the actual ID of your element
            if (window.innerWidth < 1000) {
                element.style.display = 'none';
            } else {
                element.style.display = ''; // Reset to default display property
            }
        }

        // Initial check when the page loads
        checkDeviceWidth();

        // Event listener for window resize
        window.addEventListener('resize', function () {
            checkDeviceWidth();
        });
    });

</script>
{% endblock body %}