{% extends 'home/main.html' %}
{% block title %}
<h1 class="mb-4 animated bounceInDown" style="color: white;"><span class="text-primary"></span>Disclaimer</h1>
{% endblock title %}
{% block body %}
<br><br>
<section id="">
    <div class="container-fluid contact wow bounceInUp" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
        <div class="container">
            <p>The information provided by Prakash Ganga Capitals ("we," "us," "our") on [website name] (the "Site") is
                for general informational purposes only. All information on the Site is provided in good faith, however
                we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy,
                validity, reliability, availability, or completeness of any information on the Site.</p>

            <p>UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A
                RESULT OF THE USE OF THE SITE OR RELIANCE ON ANY INFORMATION PROVIDED ON THE SITE. YOUR USE OF THE SITE
                AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE IS SOLELY AT YOUR OWN RISK.</p>

            <p>The Site may contain links to external websites that are not provided or maintained by or in any way
                affiliated with us. Please note that we do not guarantee the accuracy, relevance, timeliness, or
                completeness of any information on these external websites.</p>

            <p>EXTERNAL LINKS DISCLAIMER</p>

            <p>The Site may contain (or you may be sent through the Site) links to other websites or content belonging
                to or originating from third parties or links to websites and features in banners or other advertising.
                Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity,
                reliability, availability, or completeness by us.</p>

            <p>WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY
                INFORMATION OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR FEATURE LINKED IN
                ANY BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING
                ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</p>

            <p>PROFESSIONAL DISCLAIMER</p>

            <p>The Site cannot and does not contain financial or investment advice. The financial or investment
                information is provided for general informational and educational purposes only and is not a substitute
                for professional advice.</p>

            <p>Accordingly, before taking any actions based upon such information, we encourage you to consult with the
                appropriate professionals. We do not provide any kind of financial or investment advice. THE USE OR
                RELIANCE OF ANY INFORMATION CONTAINED ON THIS SITE IS SOLELY AT YOUR OWN RISK.</p>

            <p>AFFILIATES DISCLAIMER</p>

            <p>The Site may contain links to affiliate websites, and we may receive an affiliate commission for any
                purchases or actions made by you on the affiliate websites using such links.</p>

        </div>
    </div>
</section>
{% endblock body %}
