{% extends 'home/main.html' %}
{% block body %}
<!-- About Satrt -->
<div class="container-fluid py-6">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <div class="video">
                    <button type="button" class="btn btn-play" data-bs-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <h1 class="mb-4 animated bounceInDown" style="color: black;">Indian Economy <span
                        class="text-primary">Growth</span></h1>
                <p class="mb-4 text-dark">
                    PrakashGangaCaps goes beyond traditional investment management services by offering
                    comprehensive educational opportunities in fundamental analysis and technical analysis. Our
                    courses are designed to empower individuals with the knowledge and skills needed to make
                    informed investment decisions in today's dynamic market environment
                </p>

                {% if user.is_authenticated %}
                {% else %}
                <a href="/social-auth/login/google-oauth2/" class="btn btn-primary py-3 px-5 rounded-pill">Register
                    Now<i class="fas fa-arrow-right ps-2"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                        allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->

<!-- Events Start -->
<div class="container-fluid event py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small
                class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Latest
                Events</small>
            <h1 class="display-5 mb-5">Our Social & Professional Events Gallery</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5 wow bounceInUp" data-wow-delay="0.1s">
                <li class="nav-item p-2">
                    <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill"
                        href="#tab-1">
                        <span class="text-dark" style="width: 150px;">All Events</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex py-2 mx-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill"
                        href="#tab-2">
                        <span class="text-dark" style="width: 150px;">QnA Sessions</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill"
                        href="#tab-3">
                        <span class="text-dark" style="width: 150px;">Live Streaming</span>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="d-flex mx-2 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill"
                        href="#tab-4">
                        <span class="text-dark" style="width: 150px;">Wokshops</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event2.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event2.jpg" data-lightbox="event-1"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event4.jpg" data-lightbox="event-2"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event2.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event2.jpg" data-lightbox="event-3"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event4.jpg" data-lightbox="event-4"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.1s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event2.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event2.jpg" data-lightbox="event-5"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.3s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event6.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event6.jpg" data-lightbox="event-6"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.5s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event4.jpg" data-lightbox="event-7"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-delay="0.7s">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event2.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/dashboard/assets/img/layouts/event2.jpg" data-lightbox="event-17"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-8"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-9"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-10"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-11"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event2.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-12"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-13"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-14"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="event-img position-relative">
                                        <img class="img-fluid rounded w-100" src="/static/dashboard/assets/img/layouts/event4.jpg" alt="">
                                        <div class="event-overlay d-flex flex-column p-4">
                                            <a href="/static/landing/img/01.jpg" data-lightbox="event-15"
                                                class="my-auto"><i class="fas fa-search-plus text-dark fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Events End -->

<div class="container-fluid service py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
            <small
                class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our
                Services</small>
            <h1 class="display-5 mb-5 text-dark">Courses We Offer</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <h4 class="mb-3 text-dark">Fundamental Analysis</h4>
                            <p class="mb-4">Unlock the power of value investing with fundamental analysis. Dive deep
                                into financial statements, and industry trends to discover the
                                true worth of assets.</p>
                            <a href="/course" class="btn btn-primary px-4 py-2 rounded-pill">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInUp;">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <h4 class="mb-3 text-dark">Technical Analysis</h4>
                            <p class="mb-4">Master the art of chart reading and market psychology with technical
                                analysis. Harness historical price data and time your trades effectively. </p>
                            <a href="/course" class="btn btn-primary px-4 py-2 rounded-pill">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInUp;">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <h4 class="mb-3 text-dark">Risk Management</h4>
                            <p class="mb-4">Make informed decisions and seize opportunities based on sound
                                fundamentals. Join us in navigating the markets with insight and precision.</p>
                            <a href="/course" class="btn btn-primary px-4 py-2 rounded-pill">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInUp;">
                <div class="bg-light rounded service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-icon text-center">
                            <h4 class="mb-3 text-dark">Volume Analysis</h4>
                            <p class="mb-4">Explore the dynamic world of price action and momentum to stay ahead of
                                the curve. Elevate your trading game with the science of technical analysis.</p>
                            <a href="/course" class="btn btn-primary px-4 py-2 rounded-pill">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="updates">
    <div class="container-fluid py-6">
        <div class="container">
            <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5">Announcements & Updates</h1>
            </div>
            <div class="owl-carousel owl-theme testimonial-carousel testimonial-carousel-1 mb-4 wow bounceInUp"
                data-wow-delay="0.1s">
                {% for x in updates %}
                <div class="testimonial-item rounded bg-light">
                    <div class="d-flex mb-3">
                        <div class="position-absolute" style="top: 15px; right: 20px;">
                        </div>
                        <div class="ps-3 my-auto">
                            <h4 class="mb-0">{{x.subject}}</h4>
                        </div>
                    </div>
                    <div class="testimonial-content">

                        <p class="fs-5 m-0 pt-3">
                            {{x.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="owl-carousel testimonial-carousel testimonial-carousel-2 wow bounceInUp" data-wow-delay="0.3s">
                {% for x in updates reversed %}
                <div class="testimonial-item rounded bg-light">
                    <div class="d-flex mb-3">
                        <div class="position-absolute" style="top: 15px; right: 20px;">
                        </div>
                        <div class="ps-3 my-auto">
                            <h4 class="mb-0">{{x.subject}}</h4>
                        </div>
                    </div>
                    <div class="testimonial-content">

                        <p class="fs-5 m-0 pt-3">
                            {{x.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<div class="container-fluid py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <h1 class="display-5 mb-5">Forex Updates</h1>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <script type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-forex-cross-rates.js" async>
                    {
                        "width": "100%",
                            "height": "400",
                                "currencies": [
                                    "EUR",
                                    "USD",
                                    "JPY",
                                    "GBP",
                                    "CHF",
                                    "AUD",
                                    "CAD",
                                    "NZD",
                                    "CNY",
                                    "TRY",
                                    "SEK",
                                    "NOK",
                                    "DKK",
                                    "ZAR",
                                    "HKD",
                                    "SGD",
                                    "THB",
                                    "MXN",
                                    "IDR",
                                    "KRW",
                                    "PLN",
                                    "ISK",
                                    "KWD",
                                    "PHP",
                                    "MYR",
                                    "INR",
                                    "TWD",
                                    "SAR",
                                    "AED",
                                    "RUB",
                                    "ILS",
                                    "ARS",
                                    "CLP",
                                    "COP",
                                    "PEN",
                                    "UYU"
                                ],
                                    "isTransparent": false,
                                        "colorTheme": "light",
                                            "locale": "en",
                                                "backgroundColor": "#ffffff"
                    }
                </script>
        </div>
        <!-- TradingView Widget END -->
    </div>
</div>


<div class="container-fluid py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <h1 class="display-5 mb-5">Top Gainers & Losers</h1>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js"
                async>
                    {
                        "width": "100%",
                            "height": "500",
                                "defaultColumn": "performance",
                                    "defaultScreen": "top_gainers",
                                        "market": "india",
                                            "showToolbar": true,
                                                "colorTheme": "light",
                                                    "locale": "in"
                    }
                </script>
        </div>
        <!-- TradingView Widget END -->
    </div>
</div>





{% endblock body %}