{% extends 'home/main.html' %}
{% block body %}
<script>
    location.href = "#contact"
    document.getElementById('hero').style.display = 'None'
</script>
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s"
    style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
    <div class="container">
        <div class="p-5 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12">
                    <small
                        class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Get
                        in touch, from money to wealth</small>
                    <h1 class="display-5 mb-0">Get Investment advices</h1>
                </div>
                <div class="col-md-6 col-lg-7">
                    <form method="post">
                        {% csrf_token %}
                        {{form.name}}
                        {{form.phone_number_or_email}}
                        {{form.age}}
                        {{form.message}}
                        <button class="w-100 btn btn-primary form-control p-3 border-primary bg-primary rounded-pill"
                            type="submit">Submit Now</button>
                    </form>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div>
                        <div class="d-inline-flex w-100 border border-primary p-4 rounded mb-4">
                            <img src="static/dashboard/assets/img/icons/brands/logo2.png" alt="Prakash Ganga Capitals">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}