<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Prakash Ganga Capitals</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/dashboard/assets/img/icons/brands/hero.png">
    <link href="/static/landing/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/landing/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/static/landing/lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/landing/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link href="/static/landing/css/style.css" rel="stylesheet">
</head>
<style>
    ::-webkit-scrollbar {
        display: none;
    }

    .logo_img {
        height: 70px;
        width: 110px;
        margin-top: -5%;
        object-fit: cover;
        filter: brightness(0) invert(1);
    }
</style>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async>
                {
                    "symbols": [
                        {
                            "description": "SENSEXETF",
                            "proName": "BSE:SENSEXETF"
                        },
                        {
                            "description": "GMDCLTD",
                            "proName": "BSE:GMDCLTD"
                        },
                        {
                            "description": "KOTAK",
                            "proName": "BSE:KOTAKBANK"
                        },
                        {
                            "description": "BAJAJ_AUTO",
                            "proName": "BSE:BAJAJ_AUTO"
                        },
                        {
                            "description": "SBIN",
                            "proName": "BSE:SBIN"
                        },
                        {
                            "description": "ACC",
                            "proName": "BSE:ACC"
                        },
                        {
                            "description": "RKFORGE",
                            "proName": "BSE:RKFORGE"
                        },
                        {
                            "description": "ITC",
                            "proName": "BSE:ITC"
                        },
                        {
                            "description": "YESBANK",
                            "proName": "BSE:YESBANK"
                        },
                        {
                            "description": "SUZLON",
                            "proName": "BSE:SUZLON"
                        },
                        {
                            "description": "NHPC",
                            "proName": "BSE:NHPC"
                        },
                        {
                            "description": "TATAPOWER",
                            "proName": "BSE:TATAPOWER"
                        },
                        {
                            "description": "ASTRAL",
                            "proName": "BSE:ASTRAL"
                        },
                        {
                            "description": "IDFCFIRSTB",
                            "proName": "BSE:IDFCFIRSTB"
                        },
                        {
                            "description": "TCS",
                            "proName": "BSE:TCS"
                        },
                        {
                            "description": "BHARTIAIRTEL",
                            "proName": "BSE:BHARTIARTL"
                        },
                        {
                            "description": "PAYTM",
                            "proName": "BSE:PAYTM"
                        }
                    ],
                        "showSymbolLogo": true,
                            "isTransparent": false,
                                "displayMode": "adaptive",
                                    "colorTheme": "dark",
                                        "locale": "en"
                }
            </script>
    </div>
    <!-- TradingView Widget END -->
    <!-- Navbar start -->
    <div class="container-fluid nav-bar">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-lg py-4">
                <a href="/" class="navbar-brand">
                    <h2 class="text-light fw-bold mb-0">
                        <img class="logo_img" src="/static/dashboard/assets/img/icons/brands/hero.png"
                            alt="Prakash Ganga">
                        <!-- Prakash Ganga -->
                    </h2>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/#updates" class="nav-item nav-link">Announcements</a>
                        <!-- <a href="/" class="nav-item nav-link">Careers</a> -->
                        <a href="/course" class="nav-item nav-link">Courses</a>
                        <a href="/investment" class="nav-item nav-link">Investor Services</a>
                        <a href="/careers" class="nav-item nav-link">Careers</a>
                        <a href="/contactus" class="nav-item nav-link">Contact Us</a>
                    </div>
                    {% if user.is_authenticated %}
                    {% else %}
                    <a href="/social-auth/login/google-oauth2/"
                        class="btn btn-primary py-2 px-4 d-none d-xl-inline-block rounded-pill">Register/Login</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Hero Start -->
    <div class="container-fluid bg-light py-6 my-3 mt-0 hero" id="hero">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-7 col-md-12">
                    {% block title %}
                    <h1 class="mb-4 animated bounceInDown" style="color: white;"><span
                            class="text-primary">Prakash</span> Ganga Capitals</h1>
                    {% endblock title %}
                </div>
                <div class="col-lg-5 col-md-12">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    {% block body %}
    {% endblock body %}

    <!-- Footer Start -->
    <div class="container-fluid footer py-6 my-6 mb-0 bg-light wow bounceInUp bg-dark" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h1 class="mb-4 animated bounceInDown" style="color: white;"><span
                                class="text-primary">Prakash</span> Ganga Capitals</h1>
                        <p class="lh-lg mb-4 text-light">Join us and unlock the power of fundamental and technical analysis to
                            navigate the complexities of the financial markets with confidence.
                        </p>
                        <div class="footer-icon d-flex mb-4">
                            <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square me-2 rounded-circle"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="footer-item">
                        <h4 class="mb-2" style="color: white;">Quick Links</h4>
                        <div class="d-flex flex-column align-items-start">
                            <p><a href="/investment" style="color: white;">Investment Advisory</a></p>
                            <p><a href="/opendemat" style="color: white;">Open Demat Account</a></p>
                            <p><a href="/#updates" style="color: white;">Announcements</a></p>
                            <p><a href="/contactus" style="color: white;">Contact Us</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="footer-item">
                        <h4 class="mb-2" style="color: white;">Courses</h4>
                        <div class="d-flex flex-column align-items-start">
                            <p> <a href="/course" style="color: white;">Fundamental Analysis</a></p>
                            <p> <a href="/course" style="color: white;">Technical Analysis</a></p>
                            <p> <a href="/course" style="color: white;">Risk Management</a></p>
                            <p> <a href="/course" style="color: white;">Investement Guide</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="footer-item">
                        <h4 class="mb-2" style="color: white;">Important Links</h4>
                        <div class="d-flex flex-column align-items-start">
                            <p>
                                <a href="/privacypolicy" style="color: white;">Privacy Policy</a>
                            </p>
                            <p>
                                <a href="/termsofuse" style="color: white;">Terms Of Use</a>
                            </p>
                            <p>
                                <a href="/disclaimer" style="color: white;">Disclaimer</a>
                            </p>
                            <p>
                                <a href="/refundpolicy" style="color: white;">Refund Policy</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                    <span class="text-light"><a href="#">
                            <small style="color: white; font-size: 12px;">
                                © 2024 Prakash Ganga Capitals. All rights reserved.
                                <br><br>
                                It should not be assumed that any
                                recommendations made by Prakash Ganga Capitals will be profitable or will equal the
                                performance of any
                                securities discussed herein. This website reflects the views of Prakash Ganga Capitals
                                as of a particular
                                time; these views may change without notice. Any forward-looking statements or forecasts
                                are based upon assumptions and actual results may vary. Prakash Ganga Capitals provides
                                this website and
                                its content for informational purposes only. While Prakash Ganga Capitals has gathered
                                the information in
                                good faith from sources it deems to be reliable, Prakash Ganga Capitals does not
                                represent or warrant that
                                any information, without limitation, is accurate, reliable, or complete, and it should
                                not be relied upon as such.
                                <br><br>
                                Prakash Ganga advices are subject to market risks. Please be carefull before investing.
                                <br><br>
                                Any account or fund advised by Prakash Ganga Capitals involves significant risks and is
                                suitable only for
                                those persons who can bear the economic risk of the complete loss of their investment.
                                There is no assurance that any account or fund will achieve its investment objective.
                                Accounts and funds are subject to price volatility and the value of a portfolio will
                                change as the prices of investments go up or down. Before investing in any strategy, you
                                should consider the risks of the strategy as well as whether the strategy is suitable
                                based upon your investment objective(s) and risk tolerance. There may be additional
                                risks associated with international and emerging markets investing involving foreign,
                                economic, political, monetary, and/or legal factors. International investing is not for
                                everyone. You can lose money by investing in securities.
                            </small>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-md-square btn-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/landing/lib/wow/wow.min.js"></script>
    <script src="/static/landing/lib/easing/easing.min.js"></script>
    <script src="/static/landing/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/landing/lib/counterup/counterup.min.js"></script>
    <script src="/static/landing/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/static/landing/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/landing/js/main.js"></script>
</body>

</html>