{% extends 'home/main.html' %}
{% block body %}
<br><br>
<script>
    location.href = "#contact"
    document.getElementById('hero').style.display = 'None'
</script>
<div class="">
    <div class="container mt-2 p-2">
        <div class="p-2 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12">
                    <small
                        class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Get
                        your Demat Account Now</small>
                    <h1 class="display-5 mb-0">Enter your details to proceed</h1>
                </div>
                <div class="col-md-6 col-lg-7">
                    <form method="post">
                        {% csrf_token %}
                        {{form.name}}
                        {{form.phone_number_or_email}}
                        {{form.age}}
                        <center>
                            <button class="w-50 btn btn-primary form-control p-3 border-primary bg-primary rounded-pill"
                            type="submit">Continue</button>
                        </center>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}