{% extends 'home/main.html' %}
{% block title %}
<h1 class="mb-4 animated bounceInDown" style="color: white;"><span
    class="text-primary"></span>Privacy Policy</h1>
    {% endblock title %}
{% block body %}
<br><br>
<script>
    location.href = "#privacy"
</script>
<section id="privacy">
    <div class="container-fluid contact wow bounceInUp" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
        <div class="container">
                <p>At Prakash Ganga Capitals, we are committed to protecting your privacy and ensuring the security of
                    your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect
                    your information when you visit our website, use our services, or interact with us in any way.</p>

                <h2>Information We Collect:</h2>

                <p>We may collect the following types of personal information:</p>

                <ol>
                    <li><strong>Contact Information</strong>: Such as your name, email address, phone number, and
                        mailing address.</li>
                    <li><strong>Financial Information</strong>: Such as your investment preferences, trading history,
                        and payment details.</li>
                    <li><strong>User Content</strong>: Any information you voluntarily provide to us, including
                        messages, comments, or reviews.</li>
                    <li><strong>Technical Information</strong>: Such as your IP address, device information, browser
                        type, and cookies.</li>
                </ol>

                <h2>How We Use Your Information:</h2>

                <p>We may use the information we collect for the following purposes:</p>

                <ol>
                    <li><strong>Providing Services</strong>: To deliver our stock market investment advice, courses, and
                        other services to you.</li>
                    <li><strong>Communication</strong>: To communicate with you about your account, transactions,
                        updates, and promotional offers.</li>
                    <li><strong>Improvement</strong>: To analyze user behavior, enhance our website, services, and
                        develop new features.</li>
                    <li><strong>Marketing</strong>: To send you marketing communications about our products, services,
                        events, and relevant industry news. You can opt-out of these communications at any time.</li>
                    <li><strong>Compliance</strong>: To comply with legal obligations, resolve disputes, and enforce our
                        terms and policies.</li>
                </ol>

                <h2>How We Share Your Information:</h2>

                <p>We may share your personal information with third parties in the following circumstances:</p>

                <ol>
                    <li><strong>Service Providers</strong>: We may engage third-party service providers to assist us in
                        delivering our services, such as payment processors, marketing agencies, or IT vendors.</li>
                    <li><strong>Legal Compliance</strong>: We may disclose your information when required by law,
                        subpoena, or other legal processes, or to protect our rights, property, or safety.</li>
                    <li><strong>Business Transfers</strong>: In the event of a merger, acquisition, or sale of assets,
                        your information may be transferred as part of the transaction.</li>
                    <li><strong>With Your Consent</strong>: We may share your information with third parties when you
                        provide explicit consent to do so.</li>
                </ol>

                <h2>Data Security:</h2>

                <p>We implement reasonable security measures to protect your personal information from unauthorized
                    access, disclosure, alteration, or destruction. However, no method of transmission over the internet
                    or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

                <h2>Your Choices:</h2>

                <p>You have the following rights regarding your personal information:</p>

                <ol>
                    <li><strong>Access</strong>: You can request access to the personal information we hold about you
                        and request corrections or updates to that information.</li>
                    <li><strong>Deletion</strong>: You can request the deletion of your personal information, subject to
                        certain legal limitations and requirements.</li>
                    <li><strong>Opt-out</strong>: You can opt-out of receiving marketing communications from us by
                        following the instructions in the communication or contacting us directly.</li>
                </ol>

                <h2>Changes to this Privacy Policy:</h2>

                <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal
                    requirements. We will notify you of any material changes by posting the updated policy on our
                    website or through other communication channels.</p>

                <h2>Contact Us:</h2>

                <p>If you have any questions, concerns, or complaints about our Privacy Policy or practices, please
                    contact us at support@prakashganga.co.in</p>

                <p>By using our website, products, or services, you agree to the terms of this Privacy Policy.</p>
        </div>
    </div>
</section>
{% endblock body %}
