{% extends 'home/main.html' %}
{% block body %}
<br><br>
<section id="">
    <div class="container-fluid contact wow bounceInUp" data-wow-delay="0.1s"
    style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
    <div class="container">
            <h1 class="mb-4 animated bounceInDown"><span class="text-primary"></span>Refund Policy</h1>
            <p>Thank you for choosing Prakash Ganga Capitals.</p>

            <p>We regret to inform you that we do not provide refunds for any of our products or services.</p>

            <p>If you have any questions or concerns about our no refund policy, please contact us at prakashgangacap@gmail.com.</p>
        </div>
    </div>
</section>
{% endblock body %}