{% extends 'home/main.html' %}
{% block title %}
<h1 class="mb-4 animated bounceInDown" style="color: white;"><span class="text-primary"></span>Terms of Use</h1>
{% endblock title %}
{% block body %}
<br><br>
<section id="">
    <div class="container-fluid contact wow bounceInUp" data-wow-delay="0.1s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
        <div class="container">
            <p>These Terms of Use ("Terms") govern your use of the Prakash Ganga Capitals website, products, and
                services ("Services"). By accessing or using our Services, you agree to be bound by these Terms. If you
                do not agree to these Terms, please do not use our Services.</p>

            <h2>1. Use of Services</h2>

            <p>You must be at least 18 years old and capable of entering into a legally binding agreement to use our
                Services. You agree to use our Services only for lawful purposes and in compliance with these Terms and
                all applicable laws and regulations.</p>

            <h2>2. User Content</h2>

            <p>Any content you submit, post, or otherwise make available on or through our Services ("User Content") is
                your responsibility. You retain ownership of your User Content, but by submitting it, you grant Prakash
                Ganga Capitals a worldwide, royalty-free, non-exclusive license to use, reproduce, modify, adapt,
                publish, translate, distribute, and display your User Content.</p>

            <h2>3. Intellectual Property</h2>

            <p>All content, trademarks, logos, and other intellectual property on our Services are owned or licensed by
                Prakash Ganga Capitals and protected by copyright and other intellectual property laws. You may not use,
                reproduce, modify, or distribute any of our intellectual property without our prior written consent.</p>

            <h2>4. Disclaimer of Warranties</h2>

            <p>Our Services are provided on an "as is" and "as available" basis without warranties of any kind, either
                express or implied. Prakash Ganga Capitals does not warrant that our Services will be uninterrupted,
                secure, or error-free, or that any defects will be corrected.</p>

            <h2>5. Limitation of Liability</h2>

            <p>In no event shall Prakash Ganga Capitals be liable for any indirect, incidental, special, consequential,
                or punitive damages, arising out of or in connection with your use of our Services, whether based on
                warranty, contract, tort (including negligence), or any other legal theory, even if advised of the
                possibility of such damages.</p>

            <h2>6. Governing Law</h2>

            <p>These Terms shall be governed by and construed in accordance with the laws of [insert governing
                jurisdiction], without regard to its conflict of law principles.</p>

            <h2>7. Changes to Terms</h2>

            <p>We reserve the right to modify or replace these Terms at any time. If a revision is material, we will
                provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material
                change will be determined at our sole discretion.</p>

            <h2>8. Contact Us</h2>

            <p>If you have any questions or concerns about these Terms, please contact us at support@prakashganga.co.in</p>
        </div>
    </div>
</section>
{% endblock body %}
