{% extends 'home/main.html' %}
{% block body %}
<script>location.href = "#courses"</script>

<section id="courses">
    <div class="container-fluid service py-6">
        <div class="container">
            <div class="text-center wow bounceInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
                <small
                    class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Our
                    Courses</small>
                <h1 class="display-5 mb-5 text-dark">Courses We Offer</h1>
            </div>
            <div class="row g-4">
                <div>
                    <center>
                        {% for x in courses %}
                        <div class="col-lg-3 col-md-6 col-sm-12 wow bounceInUp" data-wow-delay="0.1s"
                            style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp; display: inline-block;margin: 2% 1%;">
                            <div class="bg-light rounded service-item">
                                <div class="service-content d-flex align-items-center justify-content-center p-4">
                                    <div class="service-content-icon text-center">
                                        <h4 class="mb-3 text-dark">{{x.name}}</h4>
                                        <p class="mb-4">{{x.short_description}}</p>
                                        {% if request.user.is_suscribed %}
                                        <a href="/courses/{{x.id}}" class="btn btn-primary px-4 py-2 rounded-pill">Get Started</a>
                                        {% else %}
                                        <a href="/pricing" class="btn btn-primary px-4 py-2 rounded-pill">Continue</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </center>
                </div>

            </div>
        </div>
    </div>
</section>


<section id="updates">
    <div class="container-fluid py-6">
        <div class="container">
            <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5">Announcements & Updates</h1>
            </div>
            <div class="owl-carousel owl-theme testimonial-carousel testimonial-carousel-1 mb-4 wow bounceInUp"
                data-wow-delay="0.1s">
                {% for x in updates %}
                <div class="testimonial-item rounded bg-light">
                    <div class="d-flex mb-3">
                        <div class="position-absolute" style="top: 15px; right: 20px;">
                        </div>
                        <div class="ps-3 my-auto">
                            <h4 class="mb-0">{{x.subject}}</h4>
                        </div>
                    </div>
                    <div class="testimonial-content">

                        <p class="fs-5 m-0 pt-3">
                            {{x.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="owl-carousel testimonial-carousel testimonial-carousel-2 wow bounceInUp" data-wow-delay="0.3s">
                {% for x in updates reversed %}
                <div class="testimonial-item rounded bg-light">
                    <div class="d-flex mb-3">
                        <div class="position-absolute" style="top: 15px; right: 20px;">
                        </div>
                        <div class="ps-3 my-auto">
                            <h4 class="mb-0">{{x.subject}}</h4>
                        </div>
                    </div>
                    <div class="testimonial-content">

                        <p class="fs-5 m-0 pt-3">
                            {{x.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock body %}