{% extends 'home/main.html' %}
{% block title %}
<h1 class="mb-4 animated bounceInDown" style="color: white;">{{ current_course }}</h1>
{% endblock title %}
{% block body %}
{% load custom_filters %}
<script>location.href = "#courses"</script>
<br><br>
<section id="courses">
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="tab-class text-center">
                    <div class="tab-content">
                        <h1 class="mb-4 animated bounceInDown text-primary">{{ current_course }}</h1>
                        <br>
                        <div id="tab-6" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for x in chapters %}
                                <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInUp;">
                                    <div class="menu-item d-flex align-items-center">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <a href="/chapters/{{current_course.id}}?page={{forloop.counter}}">
                                                <div
                                                class="d-flex justify-content-between border-bottom border-primary pb-2 mb-2">
                                                <h5>Chapter-{{forloop.counter}}</h5>
                                            </div>
                                            <h4 class="mb-0" style="text-transform: capitalize;">
                                                {{x.chapter_name}}
                                            </h4>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
